*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("./Images/amazon_logo.png");
    width: 100%;
    height: 50px;
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}

/* second div  */


.Add-first {
    color: #cccccc;
    font-size: 1rem;
    margin-left: 15px;
}

.Add-second {
    font-size: 2rem;
    margin-left: 2px;
}

.nav-icon {
    display: flex;
    align-items: center;
}

/* third div  */

.nav-search {
    display: flex;
    border-radius: 4px;
    height: 40px;
    width: 620px;
    margin-left: 20px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    background-color: rgb(232, 146, 33);
    width: 45px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.3rem;
    color: black;
}

/* forth div  */

.flag-img {
    width: 60px;
    height: 30px;
}

.flag-select {
    background-color: #0f1111;
    color: white;
    border: none;
}

/* fifth div  */

span{
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}


/* Sixth div  */

.nav-cart {
    display: flex;
}

i{
    font-size: 2rem;
}

.cart-text {
    text-align: end;
    font-size: 0.85rem;
    margin-top: 15px;
    font-weight: bold;
}

/* panel div  */

.panel {
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: whitesmoke;
    text-align: center;
    justify-content: space-evenly;
    
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops {
    width: 70%;
    padding-top: 10px;
    font-size: 0.85rem;
    text-align: left;
    
}

.panel-deals {
    padding-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

/* main section */

.main-section {
    background-image: url("./Images/wallpaper_1.jpg");
    background-size:cover;
    height:  350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-msg {
    display: flex;
    background-color: white;
    height: 35px;
    text-align: center;
    justify-content: center;
    padding-top: 18px;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 30px;
    border:0.5px solid #222f3d;
}

.main-msg a{
    color: navy;
}

/* shopping section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(245, 243, 227);
    
}

.box{
    
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}



.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box p {
    color: navy;
}

/* Footer */

footer {
    margin-top: 15px;
}

.footer1 {
    background-color: #37475a;
    color: #f3f3f3;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer2 {
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
     
}

ul {
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;

}

.footer3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid #dddddd ;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    background-image: url("./Images/amazon_logo.png");
    width: 100%;
    height: 50px;
    background-size: cover;
    width: 100px;
    margin-top: 5px;
}

.footer4 {
    background-color: #0f1720;
    color: #dddddd;
    /* display: flex;
    justify-content: center;
    text-align: center; */
    height: 80px;
}

.pages {
    padding-top: 25px;
    font-size: 0.7rem;
    text-align: center;
}

.copyright {
    font-size: 0.7rem;
    text-align: center ;
}